<p>
    Teams of four students develop different projects, combining sensors, actuators, mobile systems, wearable devices, and cloud services.
    The projects of year 2016 explore the theme <em>Ambient Intelligence systems for Health and Well-Being</em>.
</p>
<p>Browse the projects below, and mark your agenda for the upcoming <a href="{{ "/showcase" | prepend: site.baseurl }}" title="Showcase">showcase</a> of all the live demonstrations.<br/>
The projects that will participate at the showcase are marked with <i class="material-icons">event_available</i>.</p>
